<mat-nav-list class="nav-list">

    <div mat-list-item  class="menu" *ngFor="let item of navItems; let i = index">
        
        <div matRipple class="menu-item" [ngClass]="i === 0 && currentTheme === 'light' ? 'active': (i === 0 && currentTheme === 'dark' ? 'active-dark': '')">
            <mat-icon>{{ item.icon }}</mat-icon>
        </div>
        
        <p class="menu-text"> {{ item.name }} </p>

    </div>

    <div class="theme-button">
        <button mat-icon-button *ngIf="currentTheme === 'light'"  (click)="switchTheme('dark')">
            <i class="fas fa-moon"></i>
        </button>
        <button mat-icon-button *ngIf="currentTheme === 'dark'"  (click)="switchTheme('light')">
            <i class="fas fa-sun"></i>
        </button>
    </div>

</mat-nav-list>