@import '/src/assets/styles/variables.scss';

.nav-list {
    padding: 5px 10px;
    position: relative;
    margin-top: 10px;

    .menu {
        width: 100%;
        padding: 5px 0px;
        
        .menu-item {
            padding: 4px 0px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;

            mat-icon {
                width: 16px;
                height: 16px;
                font-size: 16px;
                position: relative;
                top: 3px;
                color: #eee;
            }
        }

        .menu-text {
            text-align: center;
            font-size: 0.65rem;
            margin-bottom: 0px;
            margin-top: 3px;
            font-family: $font-family-semibold;
            color: #eee;
        }

        .active {
            background-color: $secondary-color;

            mat-icon { 
                color: $text-color-white;
            }
        }

        .menu-item:hover {
            background-color: $menu-color;
            transition: 0.4s;
            mat-icon { 
                color: $text-color;
            }
        }

    }

    .theme-button {
        position: fixed;
        bottom: 10px;
        left: 15px;

        button {
            border: 1px solid #cccccc1f;
            i {
                position: relative;
                top: -9px;
                color: #ccc;
                width: 18px;
                height: 18px;
                font-size: 18px;
            }
        }
    }
}