<mat-nav-list class="nav-list">

    <div mat-list-item  class="menu" *ngFor="let item of menu">

        <div matRipple class="menu-item" [routerLink]="item.path" [ngClass]="isActive(item.path) ? this.activeClass: ''">
            <i class="fas" [class]="item.icon"></i>
        </div>
        
        <p class="menu-text"> {{ item.menu }} </p>

    </div>

    <div class="theme-button">
        <button mat-icon-button *ngIf="currentTheme === 'light'"  (click)="switchTheme('dark')">
            <i class="fas fa-moon"></i>
        </button>
        <button mat-icon-button *ngIf="currentTheme === 'dark'"  (click)="switchTheme('light')">
            <i class="fas fa-sun"></i>
        </button>
    </div>

</mat-nav-list>