@import '/src/assets/styles/variables.scss';

.left-content {
    background-color: $body-bg;
    overflow-y: auto;

    .index {
        padding: 15px 20px;
    }


    .fab-open-button {
        position: fixed;
        top: 90px;
        right: -10px;
        z-index: 1;
        background-color: $primary-color;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border: none;
        padding: 12px 5px;
        width: 33px;
        color: $text-color-white;
    }
}

.mat-sidenav {
    border-left: 1px solid $light-bg;

    .fab-close-button {
        position: absolute;
        top: 20px;
        left: -11px;
        z-index: 1;
        background-color: var(--primary-color);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: none;
        padding: 12px 5px;
        width: 33px;
        color: $text-color-white;
    }
}

.right-content {
    padding: 20px;
    overflow-y: auto;
    position: relative;
    background-color: $body-bg;
}



.daashboard-layout {
    display: flex;
    width: 100%;

    .d-left-content {
        width: 70%;
        background-color: $body-bg;
        padding: 20px;
        overflow-y: auto;

        .summary {
            margin: 15px 0px;
        }
    }


    .d-right-content {
        width: 30%;
        padding: 20px;
        overflow-y: auto;
        background-color: $body-bg;
    }

}