@import '/src/assets/styles/variables.scss';

.date-picker {
    position: relative;
    top: -6px;
    left: 5px;
}

.daashboard-layout {
    display: flex;
    width: 100%;

    .left-content {
        width: 75%;
        background-color: $white-bg;
        padding: 20px;
        overflow-y: auto;

        .summary {
            margin: 15px 0px;
        }
    }


    .right-content {
        width: 25%;
        padding: 20px;
        overflow-y: auto;
    }

}