<div class="daashboard-layout" [style.height]="availableHeight + 'px'">

    <div class="left-content">
        
        <div class="mb-2">
            <time-slider></time-slider>             
        </div>
        
        <current-trend [sentiments]="sentiments" [newRecord]="newSentiment"></current-trend>

        <div class="summary">
        
            <div class="row g-2">
                
                <div class="col-md-4">
                    <market-sentiment [sentiments]="sentiments" [newRecord]="newSentiment"></market-sentiment>
                </div>

                <div class="col-md-4">
                    <open-interest [type]="'put'" [sentiments]="sentiments" [newRecord]="newSentiment"></open-interest>
                </div>

                <div class="col-md-4">
                    <open-interest [type]="'call'" [sentiments]="sentiments" [newRecord]="newSentiment"></open-interest>
                </div>

            </div>

        </div>

    </div>

    <div class="right-content">
        <pc-change [sentiments]="sentiments" [newRecord]="newSentiment"></pc-change>
    </div>

</div>
