@import '/src/assets/styles/variables.scss';

::ng-deep {
    .custom-slider .ngx-slider .ngx-slider-bar {
      background: $progress-bar;
      // height: 100%;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: $primary-color;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 10px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: $primary-color;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 20px;
      font-size: 0.80rem;
    }
  
    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: $primary-color;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: $sidebar-color;
      top: -1px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: $primary-color;
    }
  }