@import '/src/assets/styles/variables.scss';

.oca {
    display: inline-block;
    margin-right: 10px;
}

.index-card {
    border: 2px solid $border-color;
    border-radius: 15px !important;
    box-shadow: none;
}

.symbol-section {
    display: flex;
    padding: 10px !important;

    .symbol-icon {
        width: 60px;
        position: relative;
        top: 3px;
        
        .icon-list {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid $border-color;
            position: relative;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: $font-family-bold;
                font-size: 13px;
                letter-spacing: 1px;
                color: $text-color;
            }
        }
    }

    .symbol-content {
        width: auto;
        padding-right: 30px;

        .symbol-name {
            font-size: 16px;
            color: $text-color-light;
            font-family: $font-family-bold;
        }

        .current-value {
            margin-bottom: 0px;

            .current-percentage {
                position: relative;
                font-size: 15px;
                font-family: $font-family-semibold;
                left: 10px;
                top: -1px;
            }
        }
    }
}

.active {
    border: 2px solid $primary-color !important;
    background-color: $dark-transparent-bg;
    transition: .3s;
    cursor: pointer;

    .symbol-section { 
        .symbol-icon { 
            .icon-list { 
                background-color: $primary-color;
                .icon {
                    color: $text-color-white;
                }   
            }
        }
    }
}

.index-card:hover {
    border: 2px solid $border-color !important;
    background-color: $dark-transparent-bg;
    transition: .3s;
    cursor: pointer;
}

::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-text-field-wrapper {
        padding: 5px 10px !important;
        position: relative;
        top: -13px;
        color: $text-color-light;
    }

    .mat-mdc-select-value-text {
        font-size: 14px;
        font-family: $font-family-medium;
        position: relative;
        top: 0px;
    }

    .mat-mdc-option.mdc-list-item {
        font-size: 14px;
        font-family: $font-family-medium;
        padding: 10px;
    }

    .mat-mdc-option {
        min-height: 30px !important;
    }

    @media only screen and (max-width: 767px) { 
        .mat-mdc-select-value-text {
            font-size: 12px;
            font-family: $font-family-medium;
            position: relative;
            top: -2px;
        }

        .mat-mdc-text-field-wrapper {
            padding: 2px 5px !important;
            position: relative;
            top: -13px;
            color: $text-color-light;
            width: 125px !important;
        }

        .mat-mdc-option.mdc-list-item {
            font-size: 12px;
            font-family: $font-family-medium;
            padding: 4px;
        }
    }
}

