@import '/src/assets/styles/variables.scss';

.interval-section {
    display: inline-block;
    
    .interval {
        display: inline-block;
        margin: 0px 2px;
        border-radius: 8px;
        width: 35px;
        height: 35px;
        position: relative;
        cursor: pointer;
        top: -3px;

        h6 {
            font-family: $font-family-regular !important;
            font-size: 0.75rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    .interval:first-child {
        margin-left: 0px;
    }

    .interval:last-child {
        margin-right: 0px;
    }

    .interval:hover, .active {
        background-color: $primary-color;
        transition: .5s;

        h6 { 
            font-family: $font-family-semibold !important;
            color: $white-bg;
        }
    }
}