<mat-toolbar class="navbar" color="primary" [style.height]="height">

    <div class="left-bar">
        <button mat-icon-button hidden>
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="right-bar">

        <div class="action-items">
            <select-index></select-index>
        </div>

        <div class="intersection"></div>

        <div class="action-items">
            <interval-selector (onChange)="onIntervalChange($event)"></interval-selector>
        </div>

        <div class="intersection"></div>

        <div class="action-items">
            <span class="date-picker">
                <date-picker (onDateChange)="onDateChange($event)"></date-picker>
            </span>
        </div>

        <div class="intersection"></div>

        <div class="action-items">
            <div class="profile-circle">PS</div>
        </div>


    </div>

</mat-toolbar>