@import '/src/assets/styles/variables.scss';

.scroller {
    overflow-y: auto;
}

.table {

    thead {
        td {
            color: $text-color-light;
            font-size: 0.75rem;
            font-family: $font-family-semibold;
        }
    }

    tbody {
        td {
            padding-bottom: 0px !important;
            font-size: 0.8rem;
            padding: 15px 8px;
        }

        tr {
            position: relative !important;
        }

        .highlight-row {
            background-color: $dark-transparent-bg;
        }
    }

    tr {
        border-bottom: 1px solid $light-bg;
    }
}


.stike-price {
    font-size: 0.85rem;
    font-family: $font-family-semibold;
    color: $text-color;
    width: 100px;
}

.track-details {
    padding-bottom: 10px;

    .price {
        margin-bottom: 0px;
        font-family: $font-family-medium;
        color: $text-color-light;
    }

    .progress-percentage {
        float: right;
        font-size: 0.75rem;
        color: $text-color;

        .market-status {
            margin-top: -10px;
            position: relative;
            top: 5px;
        }
    }
}

::ng-deep {
    $height: 6px;

    .track-details {

        .inverse {
            .mdc-linear-progress {
                transform: rotate(180deg);
            }
        }

        .mdc-linear-progress {
            height: $height !important;
            border-radius: 10px;
        }

        .mdc-linear-progress__buffer-bar {
            background-color: $progress-bar !important;
        }

        .winning-bar {
            .mdc-linear-progress__bar-inner {
                border-color: $green-color;
                border-top-width: $height !important;
            }
        }

        .lossing-bar {
            .mdc-linear-progress__bar-inner {
                border-color: $red-color;
                border-top-width: $height !important;
            }
        }
    }
}