<div class="summary-layout">

  <div class="fixed-slider">
    <time-slider></time-slider>
  </div>

  <div class="description">
    Time: {{ summary?.createdAt }} <div class="break"></div> LTP: {{ summary?.close | numberFormat }}
  </div>

  <div *ngIf="summary?.strikePrice as strike; else noData">
    <summary-card *ngFor="let strikePrice of strike" [strikeDetails]="strikePrice" [atm]="summary.atmStrikePrice"></summary-card>
  </div>

  <ng-template #noData>
    
    <div class="align-center">
      <no-data></no-data>
      <p>No records found</p>
    </div>
    
  </ng-template>

</div>