@import '/src/assets/styles/variables.scss';

.fixed-slider {
    // // position: fixed;
    // padding: 10px;
    // width: 100vw;
    // height: 70px;
    // background-color: $body-bg;
    // // position: fixed;
    // // top: 63px;
    // // z-index: 9999;
    // border-bottom: 0.5px solid $dark-transparent-bg;
}

.summary-layout {
    padding: 10px 20px;
}

.summary-card {
    padding: 10px;
}

.align-center {
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        color: $text-color;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }
}

.description {
    font-size: 14px;
    font-family: $font-family-medium;
    color: $text-color;
    display: flex;
    margin: 10px 0px;

    .break {
        background-color: $text-color-light;
        width: 2px;
        height: 10px;
        margin: 0px 10px;
        position: relative;
        top: 5px;
    }
}

@media only screen and (max-width: 767px) { 
    .summary-layout { 
        padding: 10px;
    }
}