@import '/src/assets/styles/variables.scss';

.summary-layout {
    padding: 20px;
}

.summary-card {
    padding: 10px;
}

.align-center {
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        color: $text-color;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }
}