<!-- <mat-card class="oca-card">
    <mat-card-header>
        <mat-card-title class="title">Changes in P/C</mat-card-title>
      </mat-card-header>
    <mat-card-content class="section" [style.height]="availableHeight + 'px'">

        <div class="pc-sec" *ngFor="let sentiment of sentiments.slice().reverse()">
            <pc-content [sentiment]="sentiment"></pc-content>
        </div>
        
    </mat-card-content>
</mat-card> -->

<div class="section">
    <h4 class="title">Changes in P/C</h4>

    <div class="pc-sec" [class]="findWinning(sentiment)" *ngFor="let sentiment of sentiments.slice().reverse()">
        <pc-content [sentiment]="sentiment"></pc-content>
    </div>

</div>