@import '/src/assets/styles/variables.scss';

.sidebar {
    background-color: $primary-color;
}

.content {
    background-color: $body-bg !important;
}

mat-sidenav-container {
    overflow-y: hidden !important;
}

.app-view {
    overflow: hidden !important;
}