$primary-palette: (
    50: #e4e6ed,
    100: #bac2d4,
    200: #8e9ab6,
    300: #64749a,
    400: #445987,
    500: #223f75,
    600: #113785,
    700: #132f63,
    800: #0b2657,
    900: #113785,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary-palette: (
    50:  #ffebf1,
    100: #ffccd9,
    200: #ff97a3,
    300: #ff6a7e,
    400: #ff395c,
    500: #ff0e42,
    600: #ff0042,
    700: #f3003b,
    800: #e50034,
    900: #d60027,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);