@import './variables.scss';

h1 {
    font-family: $font-family-black;
    font-size: $font-size-h1;
}

h2 {
    font-family: $font-family-bold;
    font-size: $font-size-h2;
}

h3 {
    font-family: $font-family-semibold;
    font-size: $font-size-h3;
}

h4, h5, h6 {
    font-family: $font-family-bold;
    font-size: $font-size-h4;
}

p {
    font-family: $font-family-regular;
    font-size: $font-size-base;
}