@import '/src/assets/styles/variables.scss';

.datepicker-input {
    padding: 0;
    margin: 0;
    border: none;
    height: 0;
    width: 0;
}

.selectedDate {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    top: -10px;
    margin-left: 8px;
    color: $text-color;
    font-size: 0.75rem;
}

::ng-deep {
    .mat-mdc-icon-button svg {
        position: relative;
        top: -3px;
    }
}


@media only screen and (max-width: 760px) {
    .selectedDate {
        display: none;
        margin-left: 0;
    }
}